// ion-content {
//     --background: black;
// }

.container {
    background-color: black;
    height: 100vh;
}

.img {
    height: 30%;
    
    border-radius: 300px;
    margin-left: 20%;
    margin-top: 70%;
}







